@font-face {
    font-family: 'iconfont';  /* project id 2374493 */
    src: url('//at.alicdn.com/t/font_2374493_8ytsasvbgdo.eot');
    src: url('//at.alicdn.com/t/font_2374493_8ytsasvbgdo.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2374493_8ytsasvbgdo.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2374493_8ytsasvbgdo.woff') format('woff'),
    url('//at.alicdn.com/t/font_2374493_8ytsasvbgdo.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2374493_8ytsasvbgdo.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
